.DS_Store
.gradle/
.gradle-dist/
.gradle-user-home/
.idea/
*.iml
build/
out/
run/
.old-*.txt
.recovered-*.txt
recovery/
local-maven/
github-build-output/
FDPClient-b12-modified-main/.gradle/
FDPClient-b12-modified-main/build/
FDPClient-b12-modified-main/.auaci/
FDPClient-b12-modified-main/backup/
FDPClient-b12-modified-main/ClientRunLogFile.txt
FDPClient-b12-modified-main/crash.txt
